<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="CryptoReminder.Droid.CryptoReminder.Droid" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" />
	<uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
	<uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:theme="@style/MaterialTheme" android:allowBackup="true" android:label="CryptoReminder" android:icon="@drawable/app_icon"></application>
</manifest>